.message {
    min-height: 88px;
    position: relative;
    font-weight: 800;
    font-size: 16px;
    padding: 15px;
    border-radius: 20px;

    .rectangle {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 30px solid white;
        position: absolute;
        bottom: -20px;
    }
}